.filtro div:nth-child(even) img{filter:grayscale(100%);-webkit-filter:grayscale(100%);}
.filtro div:nth-child(1) img{filter:blur(10px);-webkit-filter:blur(10px);}
.filtro div:nth-child(3) img{filter:sepia(100%);(2px);-webkit-filter:sepia(100%);}
.flex>div{flex: 1 1 25%;-webkit-flex: 1 1 25%;}
@media screen and (min-width: 412px){.flex{flex-flow: row wrap;}}